.list-content {
	.list-wrap {
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		.item {
			display: flex;
			width: 100%;
			height: 228px;
			margin-bottom: 20px;

			.img {
				flex: 0 0 228px;
				width: 228px;
				height: 228px;
				border-radius: 10px;
				background:rgb(250,250,250);
			}
			.text-wrap {
				margin-left: 20px;
				.title {
					margin-top: 10px;
					font-size: 30px;
					color: rgba(28,19,19,1);
				}
				.desc {
					margin-top: 16px;
					line-height: 1.84;
					font-size: 26px;
					color: rgba(102,102,102,1);
				}
			}
		}
	}
}
