.body-content {
	.wxParse-p  {
		text-align: center;
		width: 100%;
  }
  .wxParse-p .wxParse-inline{
    text-align:left
  }
	.title-wrap {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 34px;
		.icon-back-wrap {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			position: absolute;
			left: 0px;
			top: 0;
			width: 60px;
			height: 100%;
			text-align: left;
			.icon-back {
				margin-left: 20px;
				width: 21px;
				height: 37px;
			}
		}
		.title{
			width: 500px;
			white-space: pre-wrap;
			word-break: break-all;
			line-height: 1.5;
			color: #000;
		}
		
	}
	.content-wrap {
		width: 100%;
		// padding: 20px;
		box-sizing: border-box;
		.title-wrap {
			.title {
				width:500px;
				line-height: 1.8;
				font-size: 40px;
				text-align: left;
				font-weight: bold;
				color: #333;
			}
		}
		.info-wrap {
			margin-top: 40px;
			font-size: 24px;
			color: #999;
			.from-wrap {
				margin-left: 20px;
				.from-name {
					color: #ff339d;
				}
			}
		}
		.body-wrap {
			margin-top: 65px;
		}
	}
}
