.title-wrap {
	position: fixed;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 34px;
	border-bottom:1px solid #ccc;
	background:#fff;
	.icon-back-wrap {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: absolute;
		left: 0px;
		top: 0;
		width: 80px;
		// height: 100%;
		text-align: left;
	}
	.icon-back {
		margin-left: 20px;
		width: 21px;
		height: 37px;
	}
}
