.sch-list-wrap{
	.sch-bd{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}
.sch-wrap {
	width: 90%;
	height: 70px;
	line-height: 70px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid #ccc;
	border-radius: 35px;
	padding: 8px 10px;
	box-sizing: border-box;
	.title{
		font-size:34px;
		color:#fff;
	}
	.icon-sch {
		width: 30px;
		flex: 0 0 30px;
	}
	.ipt-sch {
		flex: 1;
		padding-left: 6px;
		font-size: 28px;
		color:#fff;
	}
	.icon-close-wrap {
		width: 50px;
		flex: 0 0 50px;
		text-align: center;
	}
}
