.auth-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  .m-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 450px;
    height: 420px;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
    .avatar-wrap {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
    }
    .tips {
      width: 100%;
      .m-tips {
        font-size: 24px;
        font-weight: bold;
      }
      .msg {
        font-size: 22px;
      }
    }
    .line {
      margin: 10px 0;
      width: 100%;
      height: 1px;
      background: #999;
    }
    .get-user {
      width: 100%;
      height: 70px;
      line-height: 70px;
      border-radius: 10px;
      font-size: 26px;
    }
  }
}
